<div class="Alert-section-back Alert-section-back-child ">
  <div class="section">
    <div class="section-content">
      <p class="Account-locked-Text ml-3 mt-2">Account Locked</p>
    </div>
  </div>
  <div class="DisclaimerBodyContent ">
    <div class="d-flex align-top p-1">
      <div>
        <span><img src="assets/icon/AccountLocked-alert.svg" alt="" class="Acc-Lock-img pr-2"></span>
      </div>
      <div>
        <p>Your account is locked. Please contact customer support at <b><a href="tel: 021-36406139" class="text-purple">021-36406139</a></b> for assistance, or click <b><a class="text-purple border-bottom" href="javascript:void(0)" (click)="click_SendEmail()" >here</a></b> to send an email</p>
      </div>
    </div>
    <button type="button" class="buttonProceed mt-2" (click)="closeDialog()">Close</button>
  </div>
</div>
